<header class="row">
	<img src="app/images/logo_home.png" class="col-md-2">
	<h2 class="col-md-4">Welcome, {{username}}</h2>
	<h2 class="col-md-3">Points : {{points}}</h2>
	<div class="col-md-3">
		<button type="" id="logoutBtn" name="logoutBtn" class="btn btn-danger btn-sm mgT35" ng-click="logout()">Logout</button>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="col-md-12">
				<h2 class="brand"> Today's Matches </h2>
				<div id="" class="grey-background mgT50px pdT30 pdB30 curvedBox" ng-repeat="match in matches">
					<div class="row">
						<div class="col-md-4">
							<button id="team-A" name="team-A" class="btn btn-lg btn-block btn-bet" ng-click="bet(match.matchid, match.teama)">Vote for {{match.teama | replaceQuotes}}</button>
						</div>
						<div class="col-md-4 col-md-offset-3">
							<button id="team-B" name="team-B" class="btn btn-lg btn-block btn-bet" ng-click="bet(match.matchid, match.teamb)">Vote for {{match.teamb | replaceQuotes}}</button>
						</div>
					</div>
	                <div class="row match">
	                    <div class="col-sm-5">
	                        <img class="flag" src="app/images/icons/{{match.teama | replaceQuotes}}.jpg" />
	                        <span class="center-block"><b>{{match.teama | replaceQuotes}}</b></span>
	                    </div>
	                    <div class="col-sm-2 vs">
	                        <span> v/s </span>
	                    </div>
	                    <div class="col-sm-5">
	                        <img class="flag" src="app/images/icons/{{match.teamb | replaceQuotes}}.jpg" />
	                        <span class="center-block"><b>{{match.teamb | replaceQuotes}}</b></span>
	                    </div>
	                </div>
	                <div class="row match_info">
	                    <span><b>{{match.venue | replaceQuotes}}</b></span><br>
	                    <span>{{match.datefield | replaceQuotes | amDateFormat:'MMM DD, YYYY'}}</span><br>
	                    <!-- &nbsp at &nbsp {{match.datefield | amDateFormat:'h:mm:ss a'}} -->
	                </div>
            	</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
				<h2 class="brand">Leaderboard</h2>
				<table class="table table-bordered">
					<tr>
						<th>Employee Id</th>
						<th>Name</th>
						<th>Points</th>
					</tr>
					<tr ng-repeat="leader in leaders">
						<td>{{leader.eid}}</td>
						<td>{{leader.username}}</td>
						<td>{{leader.pts}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-12">
				<h2 class="upcoming">Upcoming Matches</h2>
				<table class="table table-bordered">
					<tr>
						<th>Date</th>
						<th>Team A</th>
						<th>Team B</th>
					</tr>
					<tr>
						<td>14 FEB</td>
						<td>ENG</td>
						<td>AUS</td>
					</tr>
					<tr>
						<td>15 FEB</td>
						<td>IND</td>
						<td>PAK</td>
					</tr>
					<tr>
						<td>16 FEB</td>
						<td>RSA</td>
						<td>AUS</td>
					</tr>
					<tr>
						<td>17 FEB</td>
						<td>ENG</td>
						<td>RSA</td>
					</tr>
					<tr>
						<td>18 FEB</td>
						<td>UAE</td>
						<td>SRL</td>
					</tr>
				</table>
			</div>
		</div>

	</div>

</div>