<header>
	<img src="app/images/logo_home.png" class="world-cup-img">
	<span class="page_info"> Registration page </span>
</header>
<div class="container">
	<div class="grey-background col-md-12 from-container">
		<form name="registerform" class="pdT30 col-md-6 col-md-offset-3">
			<fieldset>

			<!-- Form Name -->
			<legend class="hide"> Enter Registration Info here</legend>

			<div class="form-group col-md-12">
			  <label class="error" ng-show="registrationValidationFail">{{registrationErrMsg}}</label>
			</div>

			<!-- Text input-->
			<div class="form-group col-md-12">
			  <div class="col-md-4"><label class="control-label fltR" for="user_name">Username</label></div>
			  <div class="col-md-7">
			  	<input id="user_name" name="user_name" type="text" placeholder="Username" class="form-control input-md" ng-model="register.user_name" ng-minlength="3" ng-maxlength="50" required />
			  	<!--start of validation-->
				<span class="error" ng-show="registerform.user_name.$dirty && registerform.user_name.$error.required">Required!</span>
				<span class="error" ng-show="registerform.user_name.$dirty && registerform.user_name.$error.minlength">Please enter minimum 3 characters</span>
				<span class="error" ng-show="registerform.user_name.$dirty && registerform.user_name.$error.maxlength">Maximum 50 characters permitted.</span>
				<!--end of validation-->
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group col-md-12">
			  <div class="col-md-4"><label class="control-label fltR" for="emp_id">Employee ID</label></div>
			  <div class="col-md-7">
			  	<input id="emp_id" name="emp_id" type="text" placeholder="Employee ID" class="form-control input-md" ng-model="register.emp_id" ng-minlength="8" ng-maxlength="8" required/>
			  	<!--start of validation-->
				<span class="error" ng-show="registerform.emp_id.$dirty && registerform.emp_id.$error.required">Required!</span>
				<span class="error" ng-show="registerform.emp_id.$dirty && (registerform.emp_id.$error.minlength || registerform.emp_id.$error.maxlength)">Please enter your eight digit employee ID</span>
				<!--end of validation-->
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group col-md-12">
			  <div class="col-md-4"><label class="control-label fltR" for="emp_password">Password</label></div>
			  <div class="col-md-7">
			    <input id="emp_password" name="emp_password" type="password" placeholder="Password" class="form-control input-md" ng-model="register.emp_password" ng-minlength="4" ng-maxlength="8" required/>
			    <!--start of validation-->
				<span class="error" ng-show="registerform.emp_password.$dirty && registerform.emp_password.$error.required">Required!</span>
				<span class="error" ng-show="registerform.emp_password.$dirty && (registerform.emp_password.$error.minlength || registerform.emp_password.$error.maxlength)">Password should contain 4 - 8 characters.</span>
				<!--end of validation-->
			  </div>
			</div>

			<!-- Confirm Password input-->
			<div class="form-group col-md-12">
			  <div class="col-md-4"><label class="control-label fltR" for="confirm_passwd">Confirm Password</label></div>
			  <div class="col-md-7">
			    <input id="confirm_password" name="confirm_password" type="password" placeholder="confirm password" class="form-control input-md" ng-model="register.confirm_password" required />
			    <!--start of validation-->
				<span class="error" ng-show="registerform.confirm_password.$dirty && registerform.confirm_password.$error.required">Required!</span>
				<span class="error" ng-show="registerform.confirm_password.$dirty && (register.emp_password != register.confirm_password)">Passwords do not match.</span>
				<!--end of validation-->
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group col-md-12 pdT30">
			  <div class="col-md-4 col-md-offset-1">
			    <button type="submit" id="registerBtn" name="registerBtn" class="btn btn-lg btn-block btn-success" ng-disabled="registerform.$invalid" ng-click="register()">Register</button>
			  </div>
			  <div class="col-md-4 col-md-offset-1">
			    <a id="goToLoginBtn" name="goToLoginBtn" class="btn btn-lg btn-block btn-danger" href="#/login">Cancel</a>
			  </div>
			</div>

			</fieldset>
		</form>
	</div>
</div>